@font-face{
    font-family:"pricedown";
    src: url("Fonts/pricedown.ttf");
}

.title2{
    text-align: center

}
body{ background-color:silver;
    /* font-style: italic;  */
    font-family:"pricedown";
}
.text1{ 
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
         color:white; 
        text-align: left;
}
.text2{ 
     line-height: 100px;
     color: white;  
        text-align: center
}
.text3{ color: white;
        text-align: right;}
.text4{text-align: center;

}
.text5{text-align:left;

}
    /* }
.title-area{ text-align: center;
    
}
.mainContent
{
    border: 2px solid peru 
}
#top
{
    color: black
}
img
{
    width: 25%
}
p
{
    display: inline block;
    width: 75%;
    text-align: center; 
} */
