.navbar{
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5));

       
 
}
.jumbotron{
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    background: linear-gradient(
    rgba(20,20,20,0.5), 
    rgba(20,20,20,0.5));
    background-image:url("https://static.pexels.com/photos/533170/pexels-photo-533170.jpeg");
     background-size: cover; 
    background-position: center;  
    height:100vh;
    padding-top: 100px;
    color:black;
    text-align: center;
    

   
}
/* .quote{}; */
.about{
    background-color: black;
    color: #7CFC00;
    width: 100%;
    height: 50vh;
    text-align: center;

}
.projects {
    background-color: grey;
    color: red;
    width: 100%;
    height: 50vh;
}
.extra{
    background-color:black;
    color:grey;
    width: 100%;
    height: 50vh;

} 
.contact{
    background-color: black;
    color:magenta;
    width: 100%;
    height: 50vh;
    padding-right:50px;
    position:relative;

}
